@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb      : 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb  : 255, 255, 255;
  --font-base-size      : 20px
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb      : 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb  : 0, 0, 0;
  }
} */

@layer base {
  body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom,
        transparent,
        rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
    font-size  : var(--font-base-size);
    font-family: 'cwTeXYen', sans-serif;
  }

  h1 {
    @apply text-5xl md:text-6xl font-bold leading-relaxed lg:leading-loose lg:text-7xl
  }

  h2 {
    @apply text-4xl md:text-5xl font-bold leading-relaxed lg:leading-loose lg:text-6xl
  }

  h3 {
    @apply text-3xl md:text-4xl font-bold leading-relaxed lg:leading-loose lg:text-5xl
  }

  h4 {
    @apply text-2xl font-bold leading-relaxed lg:leading-loose lg:text-4xl
  }

  h5 {
    @apply text-xl font-bold leading-relaxed lg:leading-loose lg:text-3xl
  }

  h6 {
    @apply text-lg font-bold leading-relaxed lg:leading-loose lg:text-2xl
  }
}


@keyframes arrowMove {
  0% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0px);
  }
}


@layer components {
  .nav-link {
    @apply h-full px-3 py-5 hover:bg-transparent hover:border-b-4 hover:border-secondary;
  }

  .home-container-padding{ 
    @apply py-20 lg:py-24
  }

  .home-container {
    @apply home-container-padding odd:bg-white even:bg-slate-50 w-full flex justify-center
  }

  .home-inner-container {
    @apply container overflow-clip 2xl:w-4/5
  }

  .home-card-group{
    @apply mt-10 grid grid-cols-1 gap-5 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4
  }

  .arrowMove {
    animation: arrowMove 3s ease-in-out 0s infinite;
  }
}